* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* * {
    outline: solid red;
 } */

html{
    height: 100%;
}

body{
    /* width: 1920px; */
    /* margin: 0; */
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
    height: 100%;
    /* width: 94% */
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

input{
    outline: none;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.header{
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: flex;

}

.main{
    flex: 1 0 auto;
    width: 100%;
}

.footer{
    flex: 0 0 auto;
    /* width: 1920px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    background: var(--unnamed, #333);
}

.container{
    display: flex;
    align-items: center;
    padding: 0 100px;
    box-sizing: border-box;
    /* width: 1920px; */
    /* width: 96%; */
    justify-content: space-between;
}

/* PAGES */



.button{
    /* height: 72px; */
    border-radius: 2px;
    background: var(--baden, #3C3A83);
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 21px 26px;
    text-align: center;
}

/* .header{
    width: 1920px;
} */

.header-top{
    width: 100%;
}

.header-top__logo{
    display: flex;
    align-items: center;
}

.logo__desc{
    width: 178px;
    margin-left: 13px;
    color: var(--baden, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-top__city{
    margin-left: 61px;
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    position: relative;
    transition: 0.3s;
}

.header-top__city:hover .headertop-city__menu{
    display: block;
}

.headertop-city__menu{
    width: 863px;
    height: 658px;
    background-color: #fff;
    position: absolute;
    z-index: 5;
    padding: 34px 25px;
    box-shadow: 2px 4px 16px rgba(8, 12, 23, 0.14);
    position: absolute;
    left: -100%;
    top: -10%;
    display: none;
}

.city-menu__title{
    color: var(--baden, #3C3A83);
    text-align: center;
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .city-menu__form{
    width: 810px;
    height: 75px;
} */

.city-menu__form{
    display: flex;
    align-items: center;
    width: 810px;
    height: 75px;
    border-radius: 2px;
    border: 1px solid var(--baden, #3C3A83);
}

.city-menu__input{
    width: 717px;
    height: 65px;
    border: none;
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 0 20px 50px;
    /* border-radius: 2px;
    border: 1px solid var(--baden, #3C3A83);
    box-sizing: border-box; */
}

.city-menu__line{
    width: 1px;
    height: 60px;
    opacity: 0.5;
    background: #3C3A83;
}

.city-menu__buttonsearch{
    padding: 10px 26px;
}

.city-menu__items{
    margin: 10px 0 21px 13px;

}

.city-menu__itemsrow + .city-menu__itemsrow{
    margin-top: 10px;
}

.city-menu__buttoncity{
    color: var(--baden, #3C3A83);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-family: 'El Messiri', sans-serif;
}

.city-menu__buttoncity--big{
    color: var(--baden, #3C3A83);
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.city-menu__button{
    width: 250px;
    margin: 0 306px;
}

.city-menu__buttonclose{
    position: absolute;
    left: 92%;
}

.header-top__menu{
    margin-left: 116px;
}

.menu__list{
    display: flex;
    list-style: none;
}

.menu__item{
    
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__item:hover .menu__link{
    color: #3C3A83;
}

.menu__item + .menu__item{
    margin-left: 40px;
}



.menu__link{
    text-decoration: none;
    color: var(--baden, #272727);
}

.header-bottom{
    /* width: 1920px; */
    width: 100%;
    /* height: 106px;
    flex-shrink: 0; */
    background: var(--baden, #3C3A83);
    /* display: flex;
    justify-content: center; */
}

.header-bottom__container{
background: var(--baden, #3C3A83);
}

.header-bottom__catalog{
    width: 399px;
    height: 75px;
    margin: 15px 0 16px;
    flex-shrink: 0;
    border-radius: 2px;
    background: var(--ffffff, #FFF);
}

.catalog__list{
    text-decoration: none;
    display: flex;
}

.catalog__burger{
    margin: 24px 36.4px 23.22px 46px;
}

.catalog__text{
    /* width: 220px;
    height: 27.778px; */
    flex-shrink: 0;
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 24px 47px 23.22px 0;
}

.header-bottom__logo{
    display: none;
}

.header-bottom__phone{
    /* width: 251px; */
    margin-left: 41px;
}

.phone__number{
    /* margin: 21px 0 10px; */
    margin: 0;
    color: var(--ffffff, #FFF);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.phone__link{
    color: var(--ffffff, #FFF);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.header-bottom__line{
    width: 1px;
    height: 63px;
    opacity: 0.5;
    background: #EEF;
}

.header-bottom__schedule{
    margin-left: 19px;
    margin-right: 190px;
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.header-bottom__button{
    /* margin: 0 73px 0 338px ; */
    width: 215px;
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botton__text{
    opacity: 0.5;
}

/* .search{
    padding: 0 73px 0 0;
    margin-left: 338px;
}

.purchase{
    padding: 0 73px;
}

.account{
    padding: 0 0 0 73px;
} */

.main__container{
    display: flex;
    flex-direction: column;
}

.main__banner{
    /* width: 1720px;
    height: 647px; */
    width: 100%;
    flex-shrink: 0;
    border-radius: 3px;
    /* background: url(../images/main.jpg), lightgray 50% / cover no-repeat;
    background-size: cover; */
    margin-top: 50px;
    position: relative;
    margin-bottom: 110px;
    display: grid;
    justify-content: space-between;
    /* align-items: center; */
}

.banner__image img{
    width: 100%;
}



.main__banner::after{
    content: "";
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.4);
    position: absolute;
    top: 0;
    left: 0;
    
}

.banner__content{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    padding: 143px 0 0 147px;
}

.banner__text{
    /* width: 1288px;
    height: 218px; */
    color: #FFF;
    font-family: 'El Messiri', sans-serif;
    font-size: 70px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    z-index: 1;
}

.banner__button{
    position: relative;
    z-index: 1;
}

.banner-button__item{
    width: 294px;
    height: 72px;
    flex-shrink: 0;
    
}

.banner__switch{
    position: absolute;
    z-index: 1;
    margin: 0 auto;
    bottom: 0;
    justify-self: center;
}

.button__line{
    display: flex;
    position: absolute;
    left: -30px;
    width: calc(100% + 60px);
    justify-content: space-between;
}

.button-line__banner{
    align-self: center;
}


.main-button__left{
    width: 60px;
    height: 60px; 
    z-index: 1;
    align-self: center;
    /* position: absolute; */
    
}

.main-button__right{
    width: 60px;
    height: 60px;
    z-index: 1;
    align-self: center;
    /* position: absolute; */
    
}

.banner-button__left{
    /* left: -30px; */
}

.banner-button__right{
   /* right: -30px; */
}

/* .main__button{
    border-radius: 2px;
    border: 1px solid var(--baden, #3C3A83);
    background: var(--baden, #3C3A83);
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
} */

.main-section__category{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;
}

.main-section__title{
    display: flex;
    align-items: center;
    width: 100%;
}

.section__title{
    color: var(--baden, #333);
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    flex-shrink: 0;
}

.category__line{
    width: 923px;
    margin-left: 75px;

}

.line{
    height: 1px;
    width: 100%;
    margin-left: 27px;
    background: var(--baden, #000);
}

.category__items{
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 35px;
}

.category__links{
    /* width: 400px;
    height: 350px; */
    width: calc(25% - 40px);
    flex-shrink: 0;
    border-radius: 3px;
    position: relative;
    text-decoration: none;
    display: flex;
    align-items: center;
    
}

.category__links::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.40);
} 

.category__links img{
    width: 100%;
}

.category__text{
    position: absolute;
    z-index: 1;
    left: 34px;
    color: #FFF;
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.category__links + .category__links{
    margin-left: 40px;
} 
    

/* .category__links::after{
    content: "";
    width: 400px;
    height: 350px;
    flex-shrink: 0;
    border-radius: 3px;
    background: rgba(0, 0, 0, 0.40);
    position: absolute;
    top: 0;
    left: 0;
} */

.category__links-santech{
    /* background: url(../images/santech.jpg), lightgray 50% / cover no-repeat; */

}

.category__links-mebel{
    /* background: url(../images/mebel.jpg), lightgray 50% / cover no-repeat; */

}

.category__links-accessories{
    /* background: url(../images/accessories.jpg), lightgray 50% / cover no-repeat; */

}

.category__links-plitka{
    /* background: url(../images/plitka.jpg), lightgray 50% / cover no-repeat; */

}

/* .category__button{
    width: 357px;
    height: 72px;
    border-radius: 2px;
    background: var(--baden, #3C3A83);
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 35px;
} */

/* .main-section__popular{
    padding-bottom: 114px;
} */

/* .main-section__discount{
    padding-bottom: 119px;
} */

.main-section__category{
    padding-bottom: 110px;
}

.main-section__sales{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 119px;
    width: 100%;
}

.discount__line{
    width: 1317px;
    margin-left: 58px;
}



.sales__menu{
   width: 100%;
}

.sales-menu__button{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sales-menu__items{
    list-style: none;
    width: calc(25% - 40px);
    border-radius: 2px;
    border: 1px solid var(--baden, #939393);
    background: var(--ffffff, #FFF);
    position: relative;
    
}

.sales-menu__links{
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    /* width: 400px;
    height: 72px; */
    padding: 23px 0;
    text-decoration: none;
    
    color: var(--baden, #939393);
    font-size: 22px;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    justify-content: center;
    /* padding: 23px auto; */
}

.sales-menu__items:hover{
    border-color: #4C4ABE;
}

.sales-menu__items:hover .sales-menu__links{
    color: var(--baden, #4C4ABE);
}

/* .sales-menu__items + .sales-menu__items{
    margin-left: 40px;
} */

.menu__cards{
    display: flex;
    align-items: center;
    margin-top: 35px;
    /* width: 1720px; */
    justify-content: space-between;
    position: relative;
    width: 100%;
    margin-bottom: 35px;
}

/* .menu-cards__items + .menu-cards__items{
    margin-left: 40px;
} */

.menu-cards__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}


.card{
    width: calc(25% - 40px);
    border-radius: 3px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);

}

.card + .card{
    /* margin-left: 40px; */
}

.card__top{
    position: relative;
}

.card-top__image img{
    width: 100%;
}

.card-top__stickers{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 37px;
}

.card-stickers__items{
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
}

.card-stickers__items + .card-stickers__items{
    margin-top: 10px;
}

.cards-stickers__text{
    position: absolute;
}

.cards-stickers__text--white{
    color: #FFF;
}

.card__bottom{
    padding-left: 16px;
    margin-top: 30px;
    position: relative;
}

.card-bottom__title{
    color: var(--baden, #3C3A83);
    font-size: 35px;
    font-family: El Messiri;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.card-bottom__subtitle{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 13px;
}

.card-bottom__desc{
    color: var(--baden, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    margin-bottom: 13px;
}

.card-bottom__price{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.card-bottom__pricenew{
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 28px;
}

.card-bottom__priceold{
    color: var(--baden, #333);
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    text-decoration: line-through;
}

.card__purchase{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 15px;
    /* margin-bottom: 20px; */
    background-color: #3C3A83;
    padding: 13px;
    border-radius: 5px;
}

/* .cards__items{
    width: calc(25% - 40px);
    height: 546px;
    border-radius: 3px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
    text-decoration: none;
    display: grid;
} */

/* .cards__items + .cards__items{
    margin-left: 40px;
} */



/* .cards__photo{
    width: 100%;
    width: 358px;
    height: 316px;
    margin: 18px 21px 0;
}

.cards__stickers{
    position: absolute;
    justify-self: flex-end;
    align-self: center;
    padding-right: 37px;
}

.cards-stickers__inner{
    display: grid;
    align-items: center;
    justify-items: center;
} 

.cards-stickers__text{
    position: absolute;
    color: var(--baden, #333);
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.cards__new{
    margin-bottom: 10px;
}

.cards-stickers__text-discount{
    color: #FFF;
}

.cards__title{
    color: var(--baden, #3C3A83);
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-weight: 600;
    line-height: normal;
    margin: 15px 130px 2px 16px;
}

.cards__goods{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 134px 13px 16px;
}

.cards__desc{
    color: var(--baden, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0 207px 15px 16px;
}

.cards__price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 15px 20px 18px;
}

.cards__newprice{
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cards__oldprice{
    color: var(--baden, #333);
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    opacity: 0.5;
    text-decoration: line-through;
}

.cards__purchase{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: var(--baden, #3C3A83);
    box-shadow: 4px 4px 10px 0px rgba(62, 62, 62, 0.10);

} */

.sales__button{
    width: 447px;
    height: 72px;
    margin-top: 35px;
}

.popular__line{
    width: 1407px;
    margin-left: 36px;
}

.footer-top__container{
    align-items: flex-start;
}

.footer-top__logo{
    display: flex;
    align-items: center;
    padding-top: 48px;
}

.logo__desc-footer{
    color: var(--baden, #EEF);
    padding-left: 13px;
    width: 178px;
}

.footer-top__content{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    width: 100%;
    margin-left: 20px;
}

.footer-top__catalog{
    margin: 30px 0 0 61px;
}



.footer__title{
    color: #FFF;
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 18px;
}

.footer__title svg{
    display: none;
}

.footer__item{
    
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    list-style: none;
}

.footer__item + .footer__item{
    margin-top: 22px;
}

.footer__link{
    text-decoration: none;
    color: #FFF;
}

.footer-top__about{
    margin: 30px 0 0 108px;
}

.footer-top__connection{
    margin: 30px 0 0 190px;
}

.footer-connection__email{
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.email__link{
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
}

.footer-connection__phone{
    display: flex;
    align-items: center;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 35px;
}

.phone{
    margin-left: 20px;
}

.footer-connection__instagram{
    display: flex;
    align-items: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 34px;
}

.intagram__link{
    color: #FFF;
    text-decoration: none;
    margin-left: 20px;
}

.footer__line{
    /* width: 1920px; */
    width: 100%;
    height: 1px;
    opacity: 0.5;
    background: #939393;
    margin-top: 31px;
}

.footer-bottom{
    box-sizing: border-box;
}

.footer-bottom__container{
    justify-content: space-between;
    footer-bottom__container
    padding: 20px 0;
}

.footer-bottom__copyright{
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-bottom__items{
    display: flex;
    align-items: center;
    opacity: 0.5;
}

.footer-items__cash{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 39px;
}

.footer-items__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 46px 0 30px;
}

.footer-items__sberonline{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
}

.footer-items__line{
    width: 1px;
    height: 62px;
    background: #444;
}

.footer-items__desc{
    margin-top: 5px;
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cooperation__container{
    flex-direction: column;
    align-items: flex-start;
}

.cooperation__line{
    /* width: 1317px; */
    
}

.main__navigation{
    padding: 20px 0 30px;
}

.navigation__inner{
    display: flex;
    align-items: center;
}

.navigation__page{
    color: var(--baden, #333);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.navigation__item{
    margin-right: 20px;
}

.navigation__page + .navigation__page{
    margin-left: 10px;
}

.cooperation__content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.cooperation__text{
    margin-top: 165px;
    /* margin-right: 7%; */
    width: 33%;
}

.cooperation__images{
    width: 60%;
}

.cooperation__images img{
    width: 100%;
}


.cooperation-text__title{
    margin-bottom: 33px;
    color: var(--baden, #333); 
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.cooperation-text__desc{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 38px;
}

.cooperation-connection__email{
    
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
}

.cooperation-email__link{
    color: var(--baden, #3C3A83);
    text-decoration: none;
    margin-left: 20px;
}

.cooperation-connection__phone{
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 32px;
}

.cooperation-images__small{
    display: none;
}

.delivery__line{
    width: 1317px;
    margin-left: 29px;
}

.delivery__content{
    display: flex;
    align-items: center;
}

.delivery__map{
    width: 837px;
    height: 634px;
    
}

.delivery__price{
    margin-left: 38px;
}

.price__items{
    display: flex;
    align-items: center;
}

.price__items + .price__items{
    margin-top: 58px;
}

.price-items__line{
    display: flex;
    align-items: center;
}

.price-items__text{
    margin-left: 14px;
    color: var(--baden, #333);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 39px;
}

.price-items__box{
    width: 228px;
    height: 46px;
    border-radius: 3px;
    border: 1px solid var(--baden, #939393);
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.15);
    color: var(--baden, #939393);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: grid;
    align-items: center;
    justify-items: center;
}

.price__line{
    width: 790px;
    height: 1px;
    opacity: 0.5;
    background: #939393;
    margin: 55px 0 33px 19px;
}

.delivery__direction{
    display: flex;
    align-items: center;
}

.page__title{
    color: var(--baden, #3C3A83);
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.direction__route + .direction__route{
    margin-left: 246px;
}

.direction__price{
    color: #4F4F4F;
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contact__line{
    width: 1246px;
    margin-left: 59px;
}

.contact__map{
    /* width: 1722px;
    height: 492px; */
    width: 100%;
    overflow: hidden;
}

.contact__map img{
    
}

.contact__shops{
    margin-bottom: 85px;
    width: 100%;
}

.shops__row{
    display: flex;
    align-items: center;
    width: 100%;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.10);
    justify-content: space-between;
    padding: 0 62px 0 46px;
}

.shops__row + .shops__row{
    margin-top: 30px;
}

.shops__photo{
    /* width: 354px;
    height: 215px; */
    width: 23%;
}

.shops__photo img{
    width: 100%;
}

.shops__desc{
    /* margin-left: 61px; */
    /* width: 966px; */
    padding: 0 1.5% 0 3.5%;
    width: 60%;
}

.shops-desc__title{
    color: var(--baden, #3C3A83);
    font-family: 'El Messiri', sans-serif;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 18px;
}

.shops-desc__place{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 61px;
}

.shops-desc__contacts{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.shops-contacts__phone{
    display: flex;
    align-items: center;
    color: var(--baden, #333);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* .shops-contacts__phone + .shops-contacts__phone{
    margin-left: 42px;
} */

.contacts-phone__number{
    margin-left: 16px;
}

.shops-contacts__email{
    display: flex;
    align-items: center;
    /* margin-left: 42px; */
}

.contacts-email__link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--baden, #333);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.contacts-email__number{
    margin-left: 16px;
}

.shops__line{
    width: 1px;
    height: 174px;
    background: #939393;
    margin: 51px 56px 50px 0px;
}

.shops__schedule{
    
}

.shops-schedule__title{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.shops-schedule__time{
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.shops-schedule__weekends{
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
}

.about__line{
    /* width: 1552px;
    margin-left: 41px; */
}

.about-content__row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* .about-content__row:last-child{
    margin-left: ;
} */

.about-text__desc{
    color: var(--gray-1, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

.about__content{
    width: 100%;
}

.about__content:last-child{
    margin-bottom: 93px;
}

.about__text{
    width: 33%;
}

.order__inner{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 55px;
}

.order__information{
    width: 1130px;
    height: 1418px;
    border-radius: 3px;
    border: 1px solid var(--baden, #939393);
    padding: 35px 0 0 72px;
    background-image: url(../images/korzinavector.png);
    background-repeat: no-repeat;
    background-position: top right;
}

.order__price{
    width: 547px;
    height: 356px;
    border-radius: 3px;
    border: 1px solid var(--baden, #939393);
}

.customer__fullname{
    display: flex;
    align-items: center;
}

.customer-fullname__surname{
    margin-left: 30px;
}

.customer__contact{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

.customer-contact__phone{
    margin-left: 30px;
}

.customer-information__title{
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.customer-information__title-required::after{
    color: red;
    content: '*';
}

.customer-fullname__box{
    width: 375px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid var(--baden, #3C3A83);
    margin-top: 13px;
}

.customer-fullname__box::placeholder{
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 22px 140px 21px 27px;
}

.information__delivery{
    margin-top: 35px;
}

.delivery__checkbox + .delivery__checkbox{
    margin-top: 20px;
}

.information__adress{
    margin-top: 35px;
}

.adress__box{
    width: 777px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid var(--baden, #3C3A83);
    margin-top: 13px;
}

.adress__street{
    margin-top: 13px;
}

.adress__row{
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.adress-row__box{
    width: 150px;
    height: 70px;
    border-radius: 3px;
    border: 1px solid var(--baden, #3C3A83);
    margin-top: 13px;
}

.adress-row__item + .adress-row__item{
    margin-left: 55px;
}


.information__payment{
    margin-top: 35px;
}

.payment__method{
    display: flex;
    align-items: center;
}


.checkbox{
    display: flex;
    align-items: center;
}

.page__checkbox{
    display: none;
}

.custom__checkbox{
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: 1px solid var(--baden, #939393);
    margin-right: 11px;
    position: relative;
}

.custom__checkbox::before{
    content: '';
    display: block;
    background-image: url(../images/checked.png);
    width: 40px;
    height: 40px;
    opacity: 0;
    transition: 0.3s;
}

.page__checkbox:checked + .custom__checkbox::before{
    opacity: 1;
}

.checkbox__text{
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.payment__checkbox + .payment__checkbox{
    margin-left: 30px;
}

.information__comments{
    margin-top: 35px;
}

.comments__textarea{
    width: 780px;
    height: 133px;
    border-radius: 3px;
    border: 1px solid var(--baden, #3C3A83);
}

.order__price{
    padding: 35px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-price__amount{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.order-price__price{
    display: flex;
    align-items: center;
}

.price__text{
    color: var(--baden, #333);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 36px;
}

.price__number{
    color: var(--baden, #3C3A83);
    font-family: 'El Messiri', sans-serif;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}



.price__button{
    width: 264px;
    align-self: center;
}

.price-desc__text{
    width: 453px;
    text-align: center;
    color: var(--baden, #939393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 17px;
}

.price-desc__link{
    color: var(--baden, #939393);
}

.pagecatalog__inner{
    display: flex;
}

.pagecatalog__left{
    width: 23%;
}

.pagecatalog__list{
    /* width: 400px; */
    /* height: 837px; */
    
    border-radius: 5px;
    border: 1px solid var(--baden, #CBCACA);
    padding: 25px 20px;
}

.pagecatalog-list__items{
    
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.pagecatalog-list__link{
    color: var(--baden, #333);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.pagecatalog-list__items:hover .pagecatalog-list__link{
    color: var(--baden, #4C4ABE);
}

.pagecatalog-list__items:hover .cataloglist-items__menu{
    display: block;
}

.pagecatalog-list__items:hover svg{
    stroke: #4C4ABE;
}

.pagecatalog-list__items + .pagecatalog-list__items{
    margin-top: 15px;
}

.cataloglist-items__menu{
    margin-left: 27px;
    margin-top: 10px;
    display: none;
}

.cataloglist-items__row{
    
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.cataloglist-items__row:hover{
    text-decoration: underline;
    text-decoration-color: #939393;
}

.cataloglist-items__row + .cataloglist-items__row{
    margin-top: 5px;
}

.cataloglist-items__link{
    color: var(--baden, #939393);
}

.pagecatalog__filters{
    width: 400px;
    /* height: 1690px;    */
    border-radius: 5px;
    border: 1px solid var(--baden, #CBCACA);
    margin-top: 25px;
    margin-bottom: 51px;
    padding: 25px 31px 25px 15px;
}

.pagecatalog-filters__title{
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 15px;
}

.filters-row__input{
    width: 110px;
    height: 40px;
    border-radius: 4px;
    border: 1px solid var(--baden, #939393);
    color: var(--baden, #939393);
    padding: 8px 0px 8px 12px;
}

.filters-row__label--right{
    margin-left: 21px;
}

.filters-row__label--left{
    margin-right: 21px;
}


.filters-row__label{
    display: block;
    color: var(--baden, #939393);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-bottom: 15px; */
}

.filters-row__difinition{
    color: var(--baden, #3C3A83);
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.filters-row__input::placeholder{
    color: var(--baden, #939393);
    font-feature-settings: 'clig' off, 'liga' off;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.placecatalog-filters__slider{
    margin-top: 15px;
    margin-bottom: 15px;
}

.slider__line--wide{
    width: 305px;
    height: 3px;
    border-radius: 1px;
    background: #C4C4C4;
    display: flex;
    align-items: center;
    position: relative;
}

.slider__line--short{
    width: 169px;
    height: 3px;
    border-radius: 1px;
    background: var(--baden, #3C3A83);
    position: relative;
    left: -1px;
}

.slider__circle{
    width: 15px;
    height: 16px;
}

.slider__circle--right{
    position: relative;
    left: -2px;
}

.filters-color{
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px;
}

.color__checkbox{
    margin: 6px 10px;
}

.pagecatalog__button--white{
    border: 1px solid var(--baden, #3C3A83);
    background: var(--ffffff, #FFF);
    color: var(--baden, #3C3A83);
}

.pagecatalog-filters__button--white{
    width: 354px;
    margin-bottom: 24px;
}

.pagecatalog-filters__button{
    width: 354px;
}

.pagecatalog-filters__color{
    margin-top: 25px;
}

.pagecatalog-filters__dimensions{
    margin-top: 25px;
}

.pagecatalog-filters__style{
    margin-top: 25px;
}

.pagecatalog-filters__material{
    margin-top: 25px;
    margin-bottom: 25px;
}

.filters-style__items + .filters-style__items{
    margin-top: 15px;
}

.filters-material__items + .filters-material__items{
    margin-top: 15px;
}

.pagecatalog__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 2.5%;
    /* width: 1280px; */
}

.pagecatalog-content__filters{
    width: 1280px;
    height: 117px;
    border-radius: 3px;
    border: 1px solid var(--baden, #CBCACA);
    position: relative;
}



.contentfilters-left__quantaty{
    color: var(--baden, #939393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: absolute;
    top: -50px;
}

.contentfilters-left__row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 802px;
}

.contentfilters-left__title{
    color: var(--baden, #333);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 37px;
}

.contentfilters-left__button{
    color: var(--baden, #939393);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.pagecatalog-content__filters{
    display: flex;
    align-items: center;
    padding: 18px 50px 18px 28px;
    box-sizing: border-box;
}

.contentfilters-item__text{
    color: var(--baden, #3C3A83);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.contentfilters-item__line{
    width: 1px;
    height: 30px;
    background: var(--baden, #C0C0C0);
    margin-left: 12px;
}

.contentfilters-left__item{
    display: flex;
    align-items: center;
    height: 39px;
    border-radius: 3px;
    border: 1px solid var(--baden, #3C3A83);
    padding: 7px 0 8px 10px;
}



.contentfilters-item__button{
    padding: 8px 10px;
    background-color: #FFF;
    border: none;
    cursor: pointer;
}

.contentfilters-left__item + .contentfilters-left__item{
    margin-left: 10px;
}

.contentfilters-left__row + .contentfilters-left__row{
    margin-top: 12px;
}

.content-filters__line{
    width: 1px;
    height: 76px;
    background: #CBCACA;
    margin-left: 141px;
}

.content-filters__right{
    position: relative;
    margin-left: 50px;
}

.contentfilters-right__row{
    color: var(--baden, #3C3A83);
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: 0.3s;
    cursor: pointer;
}

.content-filters__right:hover .contentfilters-right__menu{
    display: block;
}



.content-filters__right:hover .contentfilters-right__row svg{
    transform: rotate(180deg);
}

.pagecatalog-content__cards{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    /* row-gap: 35px; */
    margin-top: 35px;
}

.pagecatalog-content__button{
    width: 269px;
    box-sizing: border-box;
    margin-top: 27px;
    margin-bottom: 35px;
}

.contentfilters-right__menu{
    position: absolute;
    width: 197px;
    height: 96px;
    border-radius: 3px;
    border: 1px solid var(--baden, #CBCACA);
    background-color: #fff;
    padding: 18px 16px 18px 17px;
    box-sizing: border-box;
    display: none;
}

.contentfilters-menu__line{
    width: 164px;
    height: 1px;
    background: #CBCACA;
    margin: 10px 0;
}

.contentfilters-menu__item{
    color: var(--baden, #3C3A83);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    border: none;
    cursor: pointer;
}



.pagecatalog__card{
    width: calc(33.33% - 5px);
}

@media (max-width: 1900px){
    .phone {
        display: flex;
        flex-direction: column;
    }

    .cooperation-connection__phone{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1876px){
    .header-top__menu {
        margin-left: 0;
    }
    .header-bottom__schedule{
        margin-right: 0;
    }
}

@media (max-width: 1850px){
    .card-stickers__items svg{
        width: 45px;
    }

    .cards-stickers__text {
        font-size: 13px;
    }

    .card-stickers__items + .card-stickers__items {
        margin-top: 0px;
    }

    .main-button__left svg{
        width: 55px;
        height: 55px;
    }

    .main-button__left{
        width: 55px;
        height: 55px;
    }

    .main-button__right{
        width: 55px;
        height: 55px;
    }

    .main-button__right svg{
        width: 55px;
        height: 55px;
    }

    .shops-contacts__phone{
        font-size: 23px;
    }

    .contacts-email__link{
        font-size: 23px;
    }
}

@media (max-width: 1800px){
    .header-top__city{
        margin-left: 0;
    }

    .header-bottom__phone{
        margin-left: 0;
    }

    .header-bottom__schedule{
        margin-left: 0;
    }

    .footer__title {
        font-size: 30px;
    }

    .footer__item {
        font-size: 17px;
    }

    .footer-connection__email {
        font-size: 17px;
    }

    .footer-connection__phone {
        font-size: 17px;
    }

    .phone {
        flex-direction: row;
    }

    .footer-connection__instagram {
        font-size: 17px;
    }

    .card-bottom__price{
        display: block;
    }

    .card-bottom__priceold {
        margin-top: 10px;
    }

    .shops__desc{
        padding: 0 1.5% 0 2.5%;
    }
}

@media (max-width: 1750px){
    .menu__item + .menu__item{
        margin-left: 20px;
    }

    .header-bottom__button{
        width: 150px;
    }

    .header-bottom__schedule {
        margin-right: 200px;
    }
}

@media (max-width: 1750px){
    .header-top__city{
        font-size: 21px;
        font-style: normal;
        font-weight: 400;
    }

    .cooperation__text {
        margin-top: 100px;
    }

    .about__text{
        margin-top: 100px;
    }
}

@media (max-width: 1700px){
    .banner__text{
        font-size: 55px;
    }

    .cooperation-text__title {
        font-size: 30px;
    }

    .page__title{
        font-size: 30px;
    }

    .cooperation-text__desc {
        font-size: 19px;
    }

    .about-text__desc{
        font-size: 19px;
    }

    .cooperation-connection__email {
        font-size: 22px;
    }

    .cooperation-connection__phone{
        font-size: 22px;
    }
}

@media (max-width: 1680px){
    .footer-top__catalog {
        margin: 30px 0 0 0px;
    }

    .footer-top__about {
        margin: 30px 0 0 0px;
    }

    .footer-top__connection {
        margin: 30px 0 0 0;
    }
}

@media (max-width: 1650px){
    .header-bottom__schedule {
        margin-right: 100px;
    }

    .logo-desc__header {
        display: none;
    }

    .header-bottom__catalog {
        width: 330px;
    }

    .catalog__burger {
        margin: 24px 20px 23.22px 20px;
    }


}

@media (max-width: 1550px){
    .card-top__stickers {
        margin-right: 27px;
    }
}

@media (max-width: 1500px){
    .phone__number {
        font-size: 16px;
        /* font-style: normal; */
        font-weight: 600;
    }

    .phone__link{
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
    }

    .section__title{
        font-size: 40px;
    }

    .menu-cards__content {
        flex-wrap: wrap;
    }

    .menu__card{
        width: calc(33.33% - 40px);
    }

    .menu__card:last-child{
        display: none;
    }

    .card-stickers__items svg{
        width: 55px;
    }

    .cards-stickers__text {
        font-size: 18px;
    }

    .card-stickers__items + .card-stickers__items {
        margin-top: 10px;
    }

    .sales-menu__links{
        font-size: 20px;
    }
}

@media (max-width: 1450px){
    .header-bottom__schedule {
        margin-right: 25px;
    }

    .menu__item {
        font-size: 16px;
    }

    .cooperation__text {
        margin-top: 20px;
    }
    
    .about__text{
        margin-top: 20px;
    }

    .cooperation-text__title {
        font-size: 25px;
    }

    .page__title{
        font-size: 25px;
    }

    .cooperation-text__desc {
        font-size: 17px;
    }

    .about-text__desc{
        font-size: 17px;
    }

    .cooperation-connection__email {
        font-size: 17px;
    }

    .cooperation-connection__phone{
        font-size: 17px;
        margin-top: 10px;
    }
}

@media (max-width: 1400px){
    .catalog__text {
        font-size: 20px;
    }

    .header-bottom__catalog {
        width: 285px;
    }

    .logo__desc-footer{
        display: none;
    }

    .banner__content{
        padding: 80px 0 0 80px;
    }

    .sales-menu__links{
        font-size: 18px;
    }

    .sales-menu__items {
        width: calc(25% - 30px);
    }
}

@media (max-width: 1350px){
    .header-bottom__button{
        width: 80px;
    }

    .botton-text__remove{
        display: none;
    }

    .header-bottom__schedule {
        margin-right: 160px;
    }

    .card-bottom__price{
        display: block;
    }

    .card-bottom__priceold {
        margin-top: 10px;
    }
}

@media (max-width: 1300px){
    .header-bottom__schedule {
        margin-right: 0;
    }

    .footer-items__desc {
        font-size: 12px;
    }

    .banner__text{
        font-size: 45px;
    }

    .section__title{
        font-size: 33px;
    }

    .category__text {
        font-size: 25px;
    }


    .sales-menu__items {
        width: calc(25% - 10px);
    }
}

@media (max-width: 1250px){
    .header-bottom__catalog {
    height: 60px;
    }

    .header-top__city{
        display: none;
    }

    .card-stickers__items svg{
        width: 45px;
    }

    .cards-stickers__text {
        font-size: 13px;
    }

    .card-stickers__items + .card-stickers__items {
        margin-top: 0px;
    }
}

@media (max-width: 1200px){
    .header-bottom__schedule{
        display: none;
    }

    .header-bottom__phone{
        margin-right: 120px;
    }

    .footer-logo__img img{
        width: 150px;
    }

    .footer__title {
        font-size: 20px;
    }

    .footer__item {
        font-size: 14px;
    }

    .footer-connection__email {
        font-size: 14px;
    }

    .footer-connection__email svg{
        width: 24px;
    }

    .footer-connection__phone {
        font-size: 14px;
    }

    .footer-connection__phone svg{
        width: 24px;
    }

    .footer-connection__instagram {
        font-size: 14px;
    }

    .footer-connection__instagram svg{
        width: 24px;
    }

    .footer-bottom__copyright {
        font-size: 12px;
    }

    .cooperation__text {
        width: 36%;
    }

    .about__text{
        width: 36%;
    }

    .sales-menu__links{
        font-size: 16px;
    }
    
}

@media (max-width: 1150px){
    .header-bottom__phone{
        margin-right: 0;
    }

    .footer-logo__img img{
        width: 130px;
    }

    .footer-items__line{
        display: none;
    }

    .footer-items__cash {
        margin-right: 0;
    }

    .footer-items__cash svg {
        width: 24px;
    }

    .footer-items__card svg{
        width: 24px;
    }

    .footer-items__sberonline {
        margin-left: 0;
    }

    .footer-items__sberonline svg {
        width: 24px;
    }

    .banner__content {
        padding: 50px 0 0 60px;
    }

    /* .menu__card{
        width: calc(50% - 40px);
    }

    .menu__card:last-child{
        display: block;
    } */

    .card-bottom__title {
        font-size: 28px;
    }

    .card-bottom__subtitle {
        font-size: 16px;
    }
}

@media (max-width: 1100px){
    .cooperation-connection__email svg{
        width: 20px;
    }

    .cooperation-connection__phone svg{
        width: 20px;
    }

    .cooperation-text__title {
        font-size: 22px;
    }

    .page__title{
        font-size: 22px;
    }

    .cooperation__text{
        width: 320px;
    }

    .about__text{
        width: 320px;
    }

    .cooperation__images {
        width: calc(100% - 360px);
    }

    .card__purchase svg{
        width: 25px;
        height: 25px;
    }

    .card-stickers__items svg{
        width: 40px;
    }

    .cards-stickers__text {
        font-size: 11px;
    }
}

@media (max-width: 1050px){
    .sales-menu__button{
        flex-wrap: wrap;
        gap: 10px;
    }

    .sales-menu__items {
        width: calc(50% - 5px);
    }
}

@media (max-width: 1025px){
    .header-bottom__catalog {
        height: 46px;
    }

    .catalog__burger{
        margin: 0;
    }

    .catalog__text{
        margin: 0;
    }

    .logo__image img{
        width: 130px;
    }

    .header-bottom__catalog {
        width: 250px;
    }

    .header-bottom__button svg{
        width: 25px;
    }

    .botton__text{
        font-size: 13px;
    }

    .container {
        padding: 0 50px;
    }

    .button{
        font-size: 20px;
    }
    
    .main-button__left svg{
        width: 35px;
        height: 35px;
    }

    .main-button__left{
        width: 35px;
        height: 35px;
    }

    .main-button__right{
        width: 35px;
        height: 35px;
    }

    .main-button__right svg{
        width: 35px;
        height: 35px;
    }

    .banner__switch svg{
        height: 7px;
        width: 19px;
    }

    .button__line {
        width: calc(100% + 35px);
        left: -17px;
    }
}

@media (max-width: 900px){
    .menu__card {
        width: calc(33.33% - 30px);
    }
}

@media (max-width: 900px){
    .catalog__text{
        display: none;
    }

    .header-bottom__catalog {
        width: 65px;
        background: #3C3A83;
    }

    .catalog__burger svg rect{
        stroke: #fff;
        fill: #fff;
    }

    .header-bottom__catalog {
        height: 30px;
    }

    .header-bottom__phone{
        display: none;
    }

    .header-top__logo{
        display: none;
    }

    .header-top{
        height: 55px;
    }

    .header-top__container{
        height: 100%;
        justify-content: center;
    }

    .header-bottom__logo{
        display: block;
        margin-right: 150px;
    }

    .footer-catalog__list{
        display: none;
    }

    .footer-about__list{
        display: none;
    }

    .email__link {
        display: none;
    }

    .phone{
        display: none;
    }

    .intagram__link{
        display: none;
    }

    .footer-connection__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer-connection__phone{
        margin-top: 0;
    }

    .footer-connection__instagram{
        margin-top: 0;
    }

    .footer-items__card {
        margin: 0 20px 0 20px;
    }

    .footer-top__logo {
        padding-top: 30px;
    }

    .banner__text {
        font-size: 35px;
    }

    .button {
        font-size: 16px;
    }

    .category__text {
        font-size: 20px;
    }

    .card-bottom__title {
        font-size: 24px;
    }

    .card-bottom__subtitle {
        font-size: 14px;
    }

    .card-bottom__desc {
        font-size: 13px;
    }

    .card-bottom__pricenew {
        font-size: 20px;
    }

    .card-bottom__priceold {
        font-size: 16px;
    }

    .card-top__stickers {
        margin-right: 10px;
    }

    .menu__card {
        width: calc(33.33% - 27px);
    }
}

@media (max-width: 850px){
    .footer-items__desc {
        font-size: 10px;
    }

    .footer-items__cash svg {
        width: 15px;
    }

    .footer-items__card svg{
        width: 15px;
    }

    .footer-items__sberonline svg {
        width: 15px;
    }

    .cooperation__content{
        align-items: flex-start;
    }

    .cooperation-images__big{
        display: none;
    }

    .cooperation-images__small{
        display: block;
    }

    .card__purchase svg{
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 800px){
    .header-bottom__logo{
        margin-right: 0;
    }

    .header-bottom__line{
        display: none;
    }

    .botton__text{
        display: none;
    }

    .footer-items__cash{
        width: 67px;
    }

    .footer-items__card{
        width: 67px;
    }

    .footer-items__sberonline{
        width: 67px;
    }

    .footer-items__desc{
        text-align: center;
    }

    .footer-bottom__items {
        align-items: baseline;
    }

    .category__text{
        font-size: 30px;
    }

    .category__items {
        flex-wrap: wrap;
        gap: 40px;
        width: calc(100% + 40px);
        left: 20px;
        position: relative;
    }

    .category__links{
        width: calc(50% - 40px);
    } 

    .category__links + .category__links{
        margin-left: 0px;
    }

    .menu__card{
        width: calc(50% - 40px);
    }

    .menu__card:last-child{
        display: block;
    }

    .menu-cards__content{
        gap: 20px;
    }

    .menu__card + .menu__card{
        margin-left: 0;
    }

    .menu__card {
        width: calc(50% - 10px);
    }

    .card__purchase svg {
        width: 35px;
        height: 35px;
    }

    .button-line__section{
        position: relative;
        order: 2;
        margin-top: 20px;
        left: 0;
        width: 20%;
    }

    .menu__cards{
        flex-direction: column;
    }

    .about-content__row{
        flex-direction: column;
    }

    .about-content__row--reverse{
        flex-direction: column-reverse;
    }

    .about__text{
        width: 100%;
    }

    .cooperation__images{
        width: 100%;
    }
}

@media (max-width: 750px){
    .header-top {
        display: none;
    }


    .main__banner::after{
        display: none;
    }

    .banner__text {
        color: #333;
    }

    .banner__image{
        display: none;
    }

    .banner__container{
        height: 500px;
        background-image: url(../images/main.jpg);
        background-position: 80% 0%;
        position: relative;
    }

    .banner__container::after{
        content: '';
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: rgba(255, 255, 255, 0.40);
    }

    .main__banner{
        height: 100%;
        margin: 0;
    }

    .banner__content{
        padding: 0;
        margin-top: 165px;
    }

    .banner-button__left{
        align-self: flex-end;
        left: 220px;
        margin-bottom: 26px;
    }

    .banner-button__right{
        align-self: flex-end;
        right: 220px;
        margin-bottom: 26px;
    }

    .banner__switch{
        margin-bottom: 26px;
    }

    .line{
        display: none;
    }

    .category__text{
        font-size: 20px;
    }

    .button-line__banner{
        bottom: 0;
        /* left: 0; */
        left: 40%;
        margin-bottom: 26px;
        width: 20%;
        /* justify-self: center; */
    }

    .main-section__category {
        margin-top: 40px;
    }
}

@media (max-width: 725px){
    .banner__text{
        width: 392px;
    }

    .banner__content{
        margin-top: 75px;
    }
}

@media (max-width: 700px){
    .footer-bottom__copyright {
        font-size: 10px;
    }

    .cooperation-images__small{
        display: none;
    }
}

@media (max-width: 650px){
    .footer-connection__email svg {
        display: none;
    }

    .footer-connection__phone svg{
        display: none;
    }

    .footer-connection__instagram svg {
        display: none;
    }


}

@media (max-width: 600px){
    .container{
        padding: 0 10px;
    }
}

@media (max-width: 550px){
    .footer-top__container {
        display: block;
    }

    .footer-top__content {
        display: block;
        margin-left: 0;
        width: 100%;
    }

    .footer-top__catalog{
        margin-top: 10px;
        border-bottom: 1px solid #939393;;
    }

    .footer-top__about{
        margin-top: 10px;
        border-bottom: 1px solid #939393;;
    }

    .footer-top__connection{
        margin-top: 10px;
        border-bottom: 1px solid #939393;;
    }

    .footer__line{
        display: none;
    }

    .footer-bottom__container{
        flex-direction: column-reverse;

    }

    .footer__title {
        font-size: 25px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .footer__title svg{
        display: block;
    }
    
    .logo__desc-footer{
        display: block;
    }

    .footer-bottom__copyright{
        margin-top: 20px;
    }

    .card__purchase svg {
        width: 20px;
        height: 20px;
    }
}

@media (max-width: 500px){
    .button-line__banner {
        left: 35%;
        width: 30%;
    }

    .button__line {
        width: 30%;
    }

    .sales-menu__items {
        width: 100%;
    }

    .section__title{
        width: 100%;
    }
}

@media (max-width: 450px){
    .header-bottom__button svg {
        width: 23px;
    }

    .header-bottom__button {
        width: 60px;
    }

    .button{
        width: 300px;
    }

    .card-bottom__title{
        font-size: 14px;
    }

    .card-bottom__subtitle{
        font-size: 10px;
    }

    .card-bottom__desc{
        display: none;
    }

    .card-bottom__pricenew{
        font-size: 16px;
    }

    .card-bottom__priceold{
        font-size: 10px;
    }

    .card-stickers__items svg {
        width: 30px;
        height: 35px;
    }

    .cards-stickers__text {
        font-size: 6px;
    }

    .banner__content {
        text-align: center;
    }

    .banner__text {
        width: 100%;
    }

    .card__purchase {
        margin-right: 5px;
    }
    
    .category__text {
        left: auto;
    }

    .category__links {
        justify-content: center;
    }

    
}

@media (max-width: 350px){
    .card__purchase {
        width: 35px;
        height: 35px;
        padding: 0;
    }
}